@page
@model ThriftHub.Pages.CommonIndexModel
@{
    <div class="container">
        <div class="row">
            @foreach (var obj in Model.objProductList)
            {
                <div class="col-12 col-md-6 col-lg-3 mb-4">
                    <div class="card">
                        <a asp-page="../ProductDetails/Index" asp-route-productId="@obj.Id">
                            <img src="@obj.ImageUrl" class="card-img-top" alt="@obj.Name" />
                        </a>

                        <div class="card-body">
                            <h5 class="card-title">@obj.Name</h5>
                            <h2>@obj.Category?.Name</h2>
                            <p class="text-secondary">@obj.Description Description</p>
                            <p class="text-secondary">@obj.Price Price</p>
                            <p class="text-secondary">@obj.Quantity Quantity</p>
                            <p class="text-secondary">@obj.PublishedDate Published Date</p>
                            <p class="text-secondary">@obj.ApplicationUser?.FirstName: Posted by</p>
                            <!-- Add more details about the product here if needed -->
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
}

