@page
@model ThriftHub.Pages.UploadProduct.UpsertModel

@{
    <form method="post" asp-action="Upsert" enctype="multipart/form-data">
        <input asp-for="objProduct.Id" hidden />
        <input asp-for="objProduct.ImageUrl" hidden />
        <input asp-for="objProduct.PublishedDate" hidden />
        <input asp-for="objProduct.ApplicationUserId" hidden />
        <div class="row">
            <div class="col-10">
                <div class="border p-3 mt-4 row">
                    <div class="col-12 pb-2">
                        <h2 class="text-primary">@(Model.objProduct.Id != 0 ? "Update" : "Create")  Product</h2>
                        <hr />
                    </div>

                    <div class="mb-3">
                        <label asp-for="objProduct.Name"></label>
                        <input id="txtName" asp-for="objProduct.Name" class="form-control" />
                    </div>
                    <div class="mb-3">
                        <label asp-for="objProduct.Description"></label>
                        <textarea asp-for="objProduct.Description" id="txtDesc" rows="3" class="form-control"></textarea>
                    </div>
                    <div class="mb-3 col-6">
                        <label asp-for="objProduct.Price"></label>
                        <input id="txtUPC" asp-for="objProduct.Price" class="form-control" />
                    </div>
                    <div class="mb-3">
                        <label asp-for="objProduct.ImageUrl"></label>
                        <input asp-for="objProduct.ImageUrl" type="file" id="uploadBox" name="file" class="form-control" />
                    </div>

                    <div class="mb-3 col-6">
                        <label asp-for="objProduct.CategoryId"></label>
                        <select id="ddlCategory" asp-for="objProduct.CategoryId" asp-items="@Model.CategoryList" class="form-select">
                            <option disabled selected>--Select Category--</option>
                        </select>
                    </div>
                    <div class="mb-3 col-6">
                        <label asp-for="objProduct.Quantity"></label>
                        <select asp-for="objProduct.Quantity" class="form-select">
                            <option disabled selected>--Select Quantity--</option>
                            @for (int i = 1; i <= 10; i++) // Change the range as needed
                            {
                                <option value="@i">@i</option>
                            }
                        </select>
                    </div>
                    <div class="col-12">
                        @if (Model.objProduct.Id != 0)
                        {
                            <button type="submit" class="btn btn-primary" style="width:150px">Update</button>
                        }
                        else
                        {
                            <button type="submit"  onclick="return ValidateInput()" class="btn btn-primary" style="width:150px">Create</button>

                        }
                        <a asp-page="/ProductDetails/Index"  asp-route-id="@Model.objProduct.Id" class="btn btn-secondary" style="width:150px">
                            Back to List
                        </a>
                    </div>

                </div>
            </div>
            <div class="col-2 pt-4">
                <img src="@Model.objProduct.ImageUrl"
                     width="100%" style="border-radius:5px; border:1px solid #bbb9b9" />
            </div>
        </div>
    </form>

}


@section Scripts{
        <script>tinymce.init({
                selector: 'textarea',
                plugins: "lists",
                menubar: "file edit format"
            });

            function ValidateInput() {



                if (document.getElementById('txtName').value == "") {
                    swal.fire('Error', 'Please Enter a Product Name', 'error');
                    return false;
                }

                if (tinyMCE.get('txtDesc').getContent() == "") {
                    swal.fire('Error', 'Please Enter a Product Description', 'error');
                    return false;
                }

                if (document.getElementById("uploadBox").value == "") {
                    swal.fire('Error', 'Please Select an Image', 'error')
                    return false
                }

                if ($('#ddlCategory option:selected').val() == 0) {
                    swal.fire('Error', 'Please Select a Catagory', 'error')
                    return false
                }

                if ($('#ddlQuantity option:selected').val() < 1) {
                    swal.fire('Error', 'Please Select a Quantity', 'error')
                    return false
                }

                return true;
            }</script>
}

