@page
@model ThriftHub.Pages.CommonIndexModel
@{
    <div class="container">
        <div class="row pt=4">

            <div class="col-6 text-end">
                <a asp-page="../UploadProduct/Upsert" asp-route-id="0" class="btn btn-primary">
                    <i class="bi bi-plus-circle"></i> Create New Product
                </a>
            </div>
        </div>
        <div class="row">
            @foreach (var obj in Model.objProductList)
            {
                <div class="col-12 col-md-6 col-lg-3 mb-4">
                    <div class="card">
                        <a asp-page="../ProductDetails/Index" asp-route-productId="@obj.Id">
                            <img src="@obj.ImageUrl" class="card-img-top" alt="@obj.Name" />
                        </a>

                        <div class="card-body">
                            <h5 class="card-title">@obj.Name</h5>
                            <h2>@obj.Category?.Name</h2>
                            <h5 class="card-title">@obj.ApplicationUser?.FirstName</h5>

                            <!-- Add more details about the product here if needed -->
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
}
