@page
@model ThriftHub.Pages.ProductDetails.IndexModel
@using Microsoft.AspNetCore.Identity
@inject UserManager<IdentityUser> UserManager

<style>
    /* Global styling */
    body {
        background-color: #f8f9fa;
    }

    /* Card styling */
    .card {
        border: none;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        background-color: #fff;
        padding: 20px;
        margin: 20px;
    }

    /* Green button style */
    .btn-green {
        background-color: #28a745;
        color: white;
        border: none;
    }

        .btn-green:hover {
            background-color: #218838;
        }
</style>

<form method="post" class="card container pt-4">
    <div class="row">
        <div class="col-md-6">
            <img src="@Model.objProduct.ImageUrl" width="100%" class="rounded" />
        </div>
        <div class="col-md-6 text-center">
            <h1 class="display-4">@Model.objProduct.Name</h1>
            <h4 class="text-muted">@Model.objProduct.Category?.Name</h4>
            <p class="lead">@Model.objProduct.Description</p>
            <p class="lead">@Model.objProduct.Price Price</p>
            <p class="lead">@Model.objProduct.Quantity Quantity</p>
            <p class="text-muted">@Model.objProduct.PublishedDate Published Date</p>
            <p class="lead">@Model.objProduct.ApplicationUser?.FirstName: Posted by</p>

            @if (@UserManager.GetUserId(User)! == @Model.objProduct.ApplicationUserId)
            {
                <!-- Update and Delete buttons -->
                <div class="d-grid gap-2 d-md-block mt-4">
                    <a asp-page="/UploadProduct/Upsert" asp-route-id="@Model.objProduct.Id" class="btn btn-green btn-lg">
                        Update
                    </a>
                    <button type="submit" class="btn btn-danger btn-lg mt-2">Delete</button>
                </div>
            }
            else
            {
                <!-- Add to Basket button -->
                <div class="d-grid gap-2 d-md-block mt-4">
                    <a asp-page="Index" class="btn btn-green btn-lg">
                        Add To Basket
                    </a>
                </div>
            }

            <div class="mt-4">
                <!-- Back to Product List button -->
                <a asp-page="../@Model.objProduct.Category?.Name/Index" asp-route-categoryId="@Model.objProduct.Category?.CategoryId" class="btn btn-secondary btn-lg">
                    Back to Product List
                </a>
            </div>
        </div>
    </div>
</form>
