@page
@model ThriftHub.Pages.ProductDetails.IndexModel
@{
}
@using Microsoft.AspNetCore.Identity
@inject UserManager<IdentityUser> UserManager

<div class="card container pt-4">
    <img src="@Model.objProduct.ImageUrl" width="900" height="500" class="card-img-top rounded" />


    <div class="col-12 col-md-6">
        <h1 class="text-white-50">@Model.objProduct.Name</h1>
    </div>
    <div class="col-12 col-md-6 text-end pt-4">
        <span class="badge bg-warning pt-2" style="height: 30px;">@Model.objProduct.Category?.Name</span>
        <p class="text-secondary">@Model.objProduct.Description</p>
    </div>
    <p class="text-secondary">@Model.objProduct.Description</p>
    <p class="text-secondary">@Model.objProduct.Price</p>
    <p class="text-secondary">@Model.objProduct.Quantity</p>
    <p class="text-secondary">@Model.objProduct.PublishedDate</p>
    <input type="hidden" asp-for="objProduct.ApplicationUserId" />
    <input type="hidden" asp-for="objProduct.Id" />
    @if (Model.objProduct.CategoryId != 0)
    {
        <input type="hidden" asp-for="objProduct.CategoryId" />
    }

    @if (@UserManager.GetUserId(User)! == @Model.objProduct.ApplicationUserId)
    {
        <div class="col-6 col-md-3">
            <button type="submit" class="btn btn-danger form-control">Delete</button>
        </div>
    }
    else
    {
        <div class="col-6 col-md-3">
            <a asp-page="Index" class="btn btn-outline-primary border  form-control">
                Back to List
            </a>
        </div>
    }

    <div class="image-slider">
        <img src="~/images/image1.jpg" alt="Image 1">
        <img src="~/images/image2.jpg" alt="Image 2">
        <img src="~/images/image3.jpg" alt="Image 3">
    </div>

</div>
